<div class="note px-6 py-8 border rounded mb-4 flex flex-col">
  <!-- дата создания заметки -->
  <label class="underline">Заметка от <span class="font-bold">{{note.date}}</span></label>
  <!-- описание заметки -->
  <label class="italic" [for]="note.description">{{note.description}}</label>

  <div class="btn-wrapper" *ngIf="!editable">
    <button class="btn" (click)="editable = !editable">Edit</button>
    <button class="btn btn-warn" (click)="remove.emit()">Delete</button>
  </div>

  <!-- Этот блок отображается, если пользователь кликнул на кнопку Edit -->
  <div *ngIf="editable">
    <input class="sm-text-input" placeholder="edit item" [value]="note.description" #editedNote (keyup.enter)="saveNote(editedNote.value)">
    <div class="btn-wrapper">
      <button class="btn" (click)="editable = !editable">Cancel</button>
      <button class="btn btn-save" (click)="saveNote(editedNote.value)">Save</button>
    </div>
  </div>

</div>
