.note {
  text-align: left;
  font-size: 1.2rem;
}

.btn-wrapper {
  margin-top: 1rem;
  margin-bottom: .5rem;
}


.btn-save {
  background-color: #6cdc85;
  color: #fff;
  border-color: #57dc73;
}

.btn-save:hover {
  background-color: #51ea51;
}

.btn-save:focus {
  background-color: #fff;
  color: #57dc73;
}

.checkbox-wrapper {
  margin: .5rem 0;
}

.btn-warn {
  background-color: #e25d5d;
  color: #fff;
  border-color: #c92e2e;
}

.btn-warn:hover {
  background-color: #9a0000;
}

.btn-warn:active {
  background-color: #e30000;
  border-color: #000;
}

.sm-text-input {
  width: 100%;
  padding: .5rem;
  border: 2px solid #555;
  display: block;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 1rem 0;
}

